In [1]:
# Import the Pandas library


import sys

sys.path.append('../')

from models.tensorflow_model import TensorFlowModel

model = TensorFlowModel()
path = "../.test_data/more_data.xlsx"

coded_df = model.process_excel(path)


print(coded_df.info())
coded_df

2024-05-07 15:44:59.646113: I external/local_tsl/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-05-07 15:44:59.650028: I external/local_tsl/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-05-07 15:44:59.706980: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-05-07 15:45:00.771025: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41990 entries, 0 to 41989
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   NAME                 41990 non-null  object
 1   date                 41990 non-null  int64
 2   color_and_value      41990 non-null  object
 3   name_code            41990 non-null  int64
 4   day_of_month         41990 non-null  int32
 5   day_of_week          41990 non-null  int32
 6   date_code            41990 non-null  int64
 7   day_of_year          41990 non-null  int64
 8   value                41990 non-null  float64
 9   color                41990 non-null  object
 10  extra                41990 non-null  float64
 11  color_code           41990 non-null  int64
 12  next_color_code      41860 non-null  float64
 13  previous_color_code  41860 non-null  float64
 14  color_binary         41990 non-null  int64
 15  next_color_binary    41860 non-null  float64
dtypes: float64(5), int32(2), int64(6), object(3)
memory usage: 4.8+ MB
None

,NAME,date,color_and_value,name_code,day_of_month,day_of_week,date_code,day_of_year,value,color,extra,color_code,next_color_code,previous_color_code,color_binary,next_color_binary
0,GJ1,1735257600000000000,28.26107 | A9D08E | 214257094.0,1,27,4,0,362,28.261070,A9D08E,214257094.0,0,3.0,NaN,0,0.0
1,GJ2,1735257600000000000,47.95346 | A9D08E | 229631139.0,2,27,4,0,362,47.953460,A9D08E,229631139.0,0,3.0,NaN,0,0.0
2,GJ3,1735257600000000000,78.28529 | 9BC2E6 | 1804911.0,3,27,4,0,362,78.285290,9BC2E6,1804911.0,1,0.0,NaN,1,0.0
3,GJ4,1735257600000000000,47.75716 | A9D08E | 4872234.0,4,27,4,0,362,47.757160,A9D08E,4872234.0,0,3.0,NaN,0,0.0
4,GJ5,1735257600000000000,16.25788 | A9D08E | 226485.0,5,27,4,0,362,16.257880,A9D08E,226485.0,0,1.0,NaN,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41985,GJ132,1713398400100000000,8.889043 | FFC000 | 160498,132,18,3,322,109,8.889043,FFC000,160498.0,2,NaN,0.0,1,NaN
41986,GJ133,1713398400100000000,-0.02956 | A9D08E | 1757606,133,18,3,322,109,-0.029560,A9D08E,1757606.0,0,NaN,0.0,0,NaN
41987,GJ134,1713398400100000000,22.86888 | FFC000 | 230548,134,18,3,322,109,22.868880,FFC000,230548.0,2,NaN,0.0,1,NaN
41988,GJ135,1713398400100000000,53.2374 | 8EA9DB | 2633516,135,18,3,322,109,53.237400,8EA9DB,2633516.0,6,NaN,2.0,1,NaN
41989,GJ136,1713398400100000000,43.66016 | FFC000 | 5288396,136,18,3,322,109,43.660160,FFC000,5288396.0,2,NaN,2.0,1,NaN

In [2]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split



# Splitting the dataset into the Training set and Test set
X, y= model.train_test_split(coded_df)

X.shape , y.shape

((41730, 8), (41730,))

In [3]:

model.fit(X, y)

print(f'mse : {model.mse}' )
print(f'accuracy: {model.accuracy}' )
print(f'preferred_accuracy: {model.preferred_accuracy}' )

print(f'predictions_count: {model.predictions_count}   in {model.y_test_count}' )


prob = coded_df[coded_df['color_binary'] == 1].shape[0] / coded_df.shape[0]

print(f'real prob: {prob}' )

/home/adil/repo/sphere-predictor/venv/lib/python3.11/site-packages/keras/src/layers/reshaping/flatten.py:37: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

1044/1044 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.5500 - loss: 0.6868
261/261 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
261/261 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.5491 - loss: 0.6837
mse : 0.5440929786724179
accuracy: 0.4559070213275821
preferred_accuracy: 0.6847826086956522
predictions_count: 184   in 4609
real prob: 0.5566087163610384

In [4]:

df =model.predict_last()
df

5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

,NAME,2024-04-18 00:00:00.1,color_and_value,next_color_code
0,GJ1,-1.66649 | D5A6BD | 317267066,-1.66649 | D5A6BD | 317267066,0.597271
1,GJ2,-5.91249 | FFC000 | 186069576,-5.91249 | FFC000 | 186069576,0.591558
2,GJ3,11.11636 | FFC000 | 1134184,11.11636 | FFC000 | 1134184,0.594114
3,GJ4,0.568637 | FFC000 | 2696593,0.568637 | FFC000 | 2696593,0.594323
4,GJ5,16.59896 | D5A6BD | 290190,16.59896 | D5A6BD | 290190,0.601647
...,...,...,...,...
125,GJ132,8.889043 | FFC000 | 160498,8.889043 | FFC000 | 160498,0.606623
126,GJ133,-0.02956 | A9D08E | 1757606,-0.02956 | A9D08E | 1757606,0.580674
127,GJ134,22.86888 | FFC000 | 230548,22.86888 | FFC000 | 230548,0.606644
128,GJ135,53.2374 | 8EA9DB | 2633516,53.2374 | 8EA9DB | 2633516,0.627791
129,GJ136,43.66016 | FFC000 | 5288396,43.66016 | FFC000 | 5288396,0.606696

In [ ]:
print(df[(df['next_color_code'] != 0)  ].shape)
df[(df['next_color_code'] != 0) ]
df.sort_values(by='next_color_code', ascending=False)[:40]

In [ ]:
model.save()

In [ ]:
tf = TensorFlowModel()

In [ ]:
tf.load()

In [ ]:
coded_tf = tf.process_excel(path)
print(coded_tf.info())
coded_tf

In [ ]:
# Splitting the dataset into the Training set and Test set
X, y= tf.train_test_split(coded_df)

X.shape , y.shape

In [ ]:
tf.fit(X, y)

print(f'mse : {tf.mse}' )
print(f'accuracy: {tf.accuracy}' )
print(f'preferred_accuracy: {tf.preferred_accuracy}' )

print(f'predictions_count: {tf.predictions_count}   in {tf.y_test_count}' )


prob = coded_df[coded_df['color_binary'] == 1].shape[0] / coded_df.shape[0]

print(f'real prob: {prob}' )

In [ ]:

df =tf.predict_last()
df