In [1]:
# Import the Pandas library

import openpyxl
import io
import tempfile
import pandas as pd
import numpy as np
import sys

sys.path.append('../')

from models.tensorflow_model import TensorFlowModel

model = TensorFlowModel()
path = "../.test_data/more_data.xlsx"

coded_df = model.process_excel(path)


print(coded_df.info())
coded_df

2024-05-01 23:16:55.605378: I external/local_tsl/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-05-01 23:16:55.608907: I external/local_tsl/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-05-01 23:16:55.655154: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-05-01 23:16:56.631547: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42840 entries, 0 to 42839
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   NAME                 42840 non-null  object
 1   date                 42840 non-null  int64
 2   color_and_value      42840 non-null  object
 3   name_code            42840 non-null  int64
 4   day_of_month         42840 non-null  int32
 5   day_of_week          42840 non-null  int32
 6   date_code            42840 non-null  int64
 7   day_of_year          42840 non-null  int64
 8   value                42840 non-null  float64
 9   color                42840 non-null  object
 10  color_code           42840 non-null  int64
 11  next_color_code      42704 non-null  float64
 12  previous_color_code  42704 non-null  float64
 13  color_binary         42840 non-null  int64
 14  next_color_binary    42704 non-null  float64
dtypes: float64(4), int32(2), int64(6), object(3)
memory usage: 4.6+ MB
None

,NAME,date,color_and_value,name_code,day_of_month,day_of_week,date_code,day_of_year,value,color,color_code,next_color_code,previous_color_code,color_binary,next_color_binary
0,GJ1,1735257600000000000,28.26107 | A9D08E,1,27,4,0,362,28.261070,A9D08E,0,3.0,NaN,0,0.0
1,GJ2,1735257600000000000,47.95346 | A9D08E,2,27,4,0,362,47.953460,A9D08E,0,3.0,NaN,0,0.0
2,GJ3,1735257600000000000,78.28529 | 9BC2E6,3,27,4,0,362,78.285290,9BC2E6,1,0.0,NaN,0,0.0
3,GJ4,1735257600000000000,47.75716 | A9D08E,4,27,4,0,362,47.757160,A9D08E,0,3.0,NaN,0,0.0
4,GJ5,1735257600000000000,16.25788 | A9D08E,5,27,4,0,362,16.257880,A9D08E,0,1.0,NaN,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42835,GJ132,1712188800000000000,8.728617 | FFFF00,132,4,3,314,95,8.728617,FFFF00,3,NaN,3.0,0,NaN
42836,GJ133,1712188800000000000,-1.46345 | A9D08E,133,4,3,314,95,-1.463450,A9D08E,0,NaN,0.0,0,NaN
42837,GJ134,1712188800000000000,-3.2053 | 8EA9DB,134,4,3,314,95,-3.205300,8EA9DB,6,NaN,0.0,0,NaN
42838,GJ135,1712188800000000000,33.08588 | FFC000,135,4,3,314,95,33.085880,FFC000,2,NaN,4.0,1,NaN
42839,GJ136,1712188800000000000,12.81043 | FFC000,136,4,3,314,95,12.810430,FFC000,2,NaN,0.0,1,NaN

In [2]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split



# Splitting the dataset into the Training set and Test set
X, y= model.train_test_split(coded_df)

X.shape , y.shape

((42568, 4), (42568,))

In [3]:

model.fit(X, y)

print(f'mse : {model.mse}' )
print(f'accuracy: {model.accuracy}' )
print(f'preferred_accuracy: {model.preferred_accuracy}' )

print(f'predictions_count: {model.predictions_count}   in {model.y_test_count}' )


prob = coded_df[coded_df['color_binary'] == 1].shape[0] / coded_df.shape[0]

print(f'real prob: {prob}' )

Epoch 1/20

/home/adil/repo/predict_sphere/venv/lib/python3.11/site-packages/keras/src/layers/rnn/rnn.py:204: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

1331/1331 ━━━━━━━━━━━━━━━━━━━━ 16s 9ms/step - accuracy: 0.6489 - loss: 0.7147
Epoch 2/20
1331/1331 ━━━━━━━━━━━━━━━━━━━━ 12s 9ms/step - accuracy: 0.7458 - loss: 0.5691
Epoch 3/20
1331/1331 ━━━━━━━━━━━━━━━━━━━━ 11s 8ms/step - accuracy: 0.7503 - loss: 0.5608
Epoch 4/20
1331/1331 ━━━━━━━━━━━━━━━━━━━━ 11s 8ms/step - accuracy: 0.7461 - loss: 0.5614
Epoch 5/20
1331/1331 ━━━━━━━━━━━━━━━━━━━━ 12s 9ms/step - accuracy: 0.7505 - loss: 0.5561
Epoch 6/20
1331/1331 ━━━━━━━━━━━━━━━━━━━━ 11s 8ms/step - accuracy: 0.7479 - loss: 0.5590
Epoch 7/20
1331/1331 ━━━━━━━━━━━━━━━━━━━━ 13s 9ms/step - accuracy: 0.7474 - loss: 0.5589
Epoch 8/20
1331/1331 ━━━━━━━━━━━━━━━━━━━━ 15s 11ms/step - accuracy: 0.7481 - loss: 0.5576
Epoch 9/20
1331/1331 ━━━━━━━━━━━━━━━━━━━━ 15s 11ms/step - accuracy: 0.7506 - loss: 0.5566
Epoch 10/20
1331/1331 ━━━━━━━━━━━━━━━━━━━━ 15s 11ms/step - accuracy: 0.7490 - loss: 0.5566
Epoch 11/20
1331/1331 ━━━━━━━━━━━━━━━━━━━━ 13s 10ms/step - accuracy: 0.7499 - loss: 0.5540
Epoch 12/20
1331/1331 ━━━━━━━━━━━━━━━━━━━━ 12s 9ms/step - accuracy: 0.7473 - loss: 0.5584
Epoch 13/20
1331/1331 ━━━━━━━━━━━━━━━━━━━━ 12s 9ms/step - accuracy: 0.7467 - loss: 0.5576
Epoch 14/20
1331/1331 ━━━━━━━━━━━━━━━━━━━━ 10s 8ms/step - accuracy: 0.7484 - loss: 0.5578
Epoch 15/20
1331/1331 ━━━━━━━━━━━━━━━━━━━━ 10s 8ms/step - accuracy: 0.7453 - loss: 0.5581
Epoch 16/20
1331/1331 ━━━━━━━━━━━━━━━━━━━━ 10s 8ms/step - accuracy: 0.7452 - loss: 0.5579
Epoch 17/20
1331/1331 ━━━━━━━━━━━━━━━━━━━━ 12s 9ms/step - accuracy: 0.7475 - loss: 0.5568
Epoch 18/20
1331/1331 ━━━━━━━━━━━━━━━━━━━━ 12s 9ms/step - accuracy: 0.7451 - loss: 0.5591
Epoch 19/20
1331/1331 ━━━━━━━━━━━━━━━━━━━━ 12s 9ms/step - accuracy: 0.7513 - loss: 0.5509
Epoch 20/20
1331/1331 ━━━━━━━━━━━━━━━━━━━━ 11s 8ms/step - accuracy: 0.7481 - loss: 0.5556
267/267 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step
0.26234218
mse : 0.33016208597603947
accuracy: 0.6698379140239605
preferred_accuracy: 0.3482060717571297
predictions_count: 2174   in 2151
real prob: 0.2503968253968254

In [4]:

df =model.predict_last()
df

5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step

      NAME 2024-04-04 00:00:00    color_and_value  next_color_code
0      GJ1   -5.11038 | FFC000  -5.11038 | FFC000         0.289538
1      GJ2   -18.1773 | 8EA9DB  -18.1773 | 8EA9DB         0.284368
2      GJ3   -10.5042 | 8EA9DB  -10.5042 | 8EA9DB         0.284628
3      GJ4   9.041895 | FFC000  9.041895 | FFC000         0.290100
4      GJ5   26.04076 | 8EA9DB  26.04076 | 8EA9DB         0.285640
..     ...                 ...                ...              ...
131  GJ132   8.728617 | FFFF00  8.728617 | FFFF00         0.373540
132  GJ133   -1.46345 | A9D08E  -1.46345 | A9D08E         0.292468
133  GJ134    -3.2053 | 8EA9DB   -3.2053 | 8EA9DB         0.325861
134  GJ135   33.08588 | FFC000  33.08588 | FFC000         0.334157
135  GJ136   12.81043 | FFC000  12.81043 | FFC000         0.332979

[136 rows x 4 columns]

In [5]:
print(df[(df['next_color_code'] != 0)  ].shape)
df[(df['next_color_code'] != 0) ]
df.sort_values(by='next_color_code', ascending=False)[:20]

(136, 4)

      NAME 2024-04-04 00:00:00    color_and_value  next_color_code
128  GJ129   20.74672 | D5A6BD  20.74672 | D5A6BD         0.382080
114  GJ115   14.10903 | D5A6BD  14.10903 | D5A6BD         0.380674
131  GJ132   8.728617 | FFFF00  8.728617 | FFFF00         0.373540
104  GJ105   23.56238 | FFFF00  23.56238 | FFFF00         0.365317
102  GJ103   20.99008 | FFFF00  20.99008 | FFFF00         0.363282
89    GJ90   42.05446 | D5A6BD  42.05446 | D5A6BD         0.361337
98    GJ99     -17.48 | FFFF00    -17.48 | FFFF00         0.357851
95    GJ96   28.47681 | FFFF00  28.47681 | FFFF00         0.356101
92    GJ93   15.42102 | FFFF00  15.42102 | FFFF00         0.352391
90    GJ91   2.644405 | FFFF00  2.644405 | FFFF00         0.349740
86    GJ87   -5.99262 | FFFF00  -5.99262 | FFFF00         0.345052
81    GJ82   -1.97058 | FFFF00  -1.97058 | FFFF00         0.339813
116  GJ117   21.23101 | FFC000  21.23101 | FFC000         0.336878
127  GJ128   1.471469 | FFC000  1.471469 | FFC000         0.336346
112  GJ113   40.85838 | FFC000  40.85838 | FFC000         0.336259
115  GJ116   0.833996 | FFC000  0.833996 | FFC000         0.336067
111  GJ112   -1.30115 | FFC000  -1.30115 | FFC000         0.334753
134  GJ135   33.08588 | FFC000  33.08588 | FFC000         0.334157
135  GJ136   12.81043 | FFC000  12.81043 | FFC000         0.332979
105  GJ106   -0.04471 | FFC000  -0.04471 | FFC000         0.332256