In [1]:
# Import the Pandas library

import openpyxl
import io
import tempfile
import pandas as pd
import numpy as np
import sys

sys.path.append('../')

from models.tensorflow_model import TensorFlowModel

model = TensorFlowModel()
path = "../.test_data/more_data.xlsx"

coded_df = model.process_excel(path)


print(coded_df.info())
coded_df

2024-05-01 14:18:20.526257: I external/local_tsl/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-05-01 14:18:20.533171: I external/local_tsl/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-05-01 14:18:20.599674: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-05-01 14:18:21.588317: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43928 entries, 0 to 43927
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   NAME                 43928 non-null  object
 1   date                 43928 non-null  int64
 2   color_and_value      43928 non-null  object
 3   date_code            43928 non-null  int64
 4   day_of_year          43928 non-null  int64
 5   name_code            43928 non-null  int64
 6   value                43928 non-null  float64
 7   color                43928 non-null  object
 8   color_code           43928 non-null  int64
 9   next_color_code      43792 non-null  float64
 10  previous_color_code  43792 non-null  float64
 11  color_binary         43928 non-null  int64
 12  next_color_binary    43792 non-null  float64
dtypes: float64(4), int64(6), object(3)
memory usage: 4.4+ MB
None

,NAME,date,color_and_value,date_code,day_of_year,name_code,value,color,color_code,next_color_code,previous_color_code,color_binary,next_color_binary
0,GJ1,1735344000000000000,19.1379 | FFFF00,0,363,1,19.13790,FFFF00,0,2.0,NaN,0,1.0
1,GJ2,1735344000000000000,44.45609 | FFFF00,0,363,2,44.45609,FFFF00,0,3.0,NaN,0,1.0
2,GJ3,1735344000000000000,65.52176 | A9D08E,0,363,3,65.52176,A9D08E,1,1.0,NaN,0,0.0
3,GJ4,1735344000000000000,28.03879 | FFFF00,0,363,4,28.03879,FFFF00,0,1.0,NaN,0,0.0
4,GJ5,1735344000000000000,12.66648 | 9BC2E6,0,363,5,12.66648,9BC2E6,2,2.0,NaN,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43923,GJ132,1713484800100000000,19.66042 | FFC000,322,110,132,19.66042,FFC000,3,NaN,3.0,1,NaN
43924,GJ133,1713484800100000000,-9.61867 | A9D08E,322,110,133,-9.61867,A9D08E,1,NaN,1.0,0,NaN
43925,GJ134,1713484800100000000,24.65864 | 8EA9DB,322,110,134,24.65864,8EA9DB,6,NaN,3.0,1,NaN
43926,GJ135,1713484800100000000,29.89178 | FFFF00,322,110,135,29.89178,FFFF00,0,NaN,6.0,0,NaN
43927,GJ136,1713484800100000000,45.71363 | FFC000,322,110,136,45.71363,FFC000,3,NaN,3.0,1,NaN

In [2]:
model.last_df

      NAME 2024-04-19 00:00:00.1
0      GJ1     15.82305 | FFC000
1      GJ2     13.98692 | D5A6BD
2      GJ3     17.93017 | 8EA9DB
3      GJ4     1.159096 | FFC000
4      GJ5     19.73149 | 8EA9DB
..     ...                   ...
131  GJ132     19.66042 | FFC000
132  GJ133     -9.61867 | A9D08E
133  GJ134     24.65864 | 8EA9DB
134  GJ135     29.89178 | FFFF00
135  GJ136     45.71363 | FFC000

[136 rows x 2 columns]

In [3]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split



# Splitting the dataset into the Training set and Test set
X, y= model.train_test_split(coded_df)

X.shape , y.shape

((43656, 4), (43656,))

In [4]:

model.fit(X, y)

print(f'mse : {model.mse}' )
print(f'accuracy: {model.accuracy}' )
print(f'preferred_accuracy: {model.preferred_accuracy}' )

print(f'predictions_count: {model.predictions_count}   in {model.y_test_count}' )


prob = coded_df[coded_df['color_binary'] == 1].shape[0] / coded_df.shape[0]

print(f'real prob: {prob}' )

Epoch 1/4

/home/adil/repo/predict_sphere/venv/lib/python3.11/site-packages/keras/src/layers/rnn/rnn.py:204: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

1365/1365 ━━━━━━━━━━━━━━━━━━━━ 16s 8ms/step - accuracy: 0.5270 - loss: 0.7908
Epoch 2/4
1365/1365 ━━━━━━━━━━━━━━━━━━━━ 12s 8ms/step - accuracy: 0.5601 - loss: 0.6830
Epoch 3/4
1365/1365 ━━━━━━━━━━━━━━━━━━━━ 11s 8ms/step - accuracy: 0.5626 - loss: 0.6812
Epoch 4/4
1365/1365 ━━━━━━━━━━━━━━━━━━━━ 11s 8ms/step - accuracy: 0.5617 - loss: 0.6793
137/137 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step
mse : 0.44044892349977094
accuracy: 0.5595510765002291
preferred_accuracy: 0.5794887780548629
predictions_count: 3208   in 2433
real prob: 0.5590967036969586

In [5]:

df =model.predict_last()
df

5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step

      NAME 2024-04-19 00:00:00.1    color_and_value  next_color_code
0      GJ1     15.82305 | FFC000  15.82305 | FFC000                1
1      GJ2     13.98692 | D5A6BD  13.98692 | D5A6BD                1
2      GJ3     17.93017 | 8EA9DB  17.93017 | 8EA9DB                1
3      GJ4     1.159096 | FFC000  1.159096 | FFC000                1
4      GJ5     19.73149 | 8EA9DB  19.73149 | 8EA9DB                1
..     ...                   ...                ...              ...
131  GJ132     19.66042 | FFC000  19.66042 | FFC000                1
132  GJ133     -9.61867 | A9D08E  -9.61867 | A9D08E                1
133  GJ134     24.65864 | 8EA9DB  24.65864 | 8EA9DB                1
134  GJ135     29.89178 | FFFF00  29.89178 | FFFF00                1
135  GJ136     45.71363 | FFC000  45.71363 | FFC000                1

[136 rows x 4 columns]

In [6]:
print(df[(df['next_color_code'] != 0)  ].shape)
df[(df['next_color_code'] != 0) ]

(136, 4)

      NAME 2024-04-19 00:00:00.1    color_and_value  next_color_code
0      GJ1     15.82305 | FFC000  15.82305 | FFC000                1
1      GJ2     13.98692 | D5A6BD  13.98692 | D5A6BD                1
2      GJ3     17.93017 | 8EA9DB  17.93017 | 8EA9DB                1
3      GJ4     1.159096 | FFC000  1.159096 | FFC000                1
4      GJ5     19.73149 | 8EA9DB  19.73149 | 8EA9DB                1
..     ...                   ...                ...              ...
131  GJ132     19.66042 | FFC000  19.66042 | FFC000                1
132  GJ133     -9.61867 | A9D08E  -9.61867 | A9D08E                1
133  GJ134     24.65864 | 8EA9DB  24.65864 | 8EA9DB                1
134  GJ135     29.89178 | FFFF00  29.89178 | FFFF00                1
135  GJ136     45.71363 | FFC000  45.71363 | FFC000                1

[136 rows x 4 columns]