In [1]:
# Import the Pandas library

import openpyxl
import io
import tempfile
import pandas as pd
import numpy as np
import sys

sys.path.append('../')

from models.tensorflow_model import TensorFlowModel

model = TensorFlowModel()
path = "../.test_data/more_data.xlsx"

coded_df = model.process_excel(path)


print(coded_df.info())
coded_df

2024-04-29 16:11:11.538033: I external/local_tsl/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-04-29 16:11:11.541881: I external/local_tsl/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-04-29 16:11:11.587949: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-04-29 16:11:12.477420: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46376 entries, 0 to 46375
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   NAME             46376 non-null  object
 1   name_code        46376 non-null  int64
 2   date             46376 non-null  int64
 3   color_and_value  46376 non-null  object
 4   value            46376 non-null  float64
 5   color            46376 non-null  object
 6   color_code       46376 non-null  int64
 7   next_color_code  46240 non-null  float64
dtypes: float64(2), int64(3), object(3)
memory usage: 2.8+ MB
None

,NAME,name_code,date,color_and_value,value,color,color_code,next_color_code
0,GJ1,0,1,-16.155 | 00FFFF,-16.15500,00FFFF,0,3.0
1,GJ2,1,1,-10.131 | 00FFFF,-10.13100,00FFFF,0,2.0
2,GJ3,2,1,6.719 | 00FF00,6.71900,00FF00,1,3.0
3,GJ4,3,1,8.2 | 00FFFF,8.20000,00FFFF,0,3.0
4,GJ5,4,1,-7.444 | 00FF00,-7.44400,00FF00,1,1.0
...,...,...,...,...,...,...,...,...
46371,GJ132,131,341,19.17218 | A9D08E,19.17218,A9D08E,6,NaN
46372,GJ133,132,341,-27.1069 | FFFF00,-27.10690,FFFF00,3,NaN
46373,GJ134,133,341,14.05361 | FFC000,14.05361,FFC000,8,NaN
46374,GJ135,134,341,-5.21327 | FFFF00,-5.21327,FFFF00,3,NaN
46375,GJ136,135,341,51.27713 | A9D08E,51.27713,A9D08E,6,NaN

In [2]:
model.color_mapping

# D5A6BD purple    ff9900 orange

{0: '00FFFF',
 1: '00FF00',
 2: 'FF9900',
 3: 'FFFF00',
 4: 'D5A6BD',
 5: 'FF0000',
 6: 'A9D08E',
 7: '9BC2E6',
 8: 'FFC000',
 9: '8EA9DB'}

In [3]:
model.last_df

      NAME 2024-04-24 00:00:00.1
0      GJ1     2.166186 | FFFF00
1      GJ2     3.942408 | FFFF00
2      GJ3     5.464429 | A9D08E
3      GJ4     1.083493 | FFFF00
4      GJ5     14.56136 | A9D08E
..     ...                   ...
131  GJ132     19.17218 | A9D08E
132  GJ133     -27.1069 | FFFF00
133  GJ134     14.05361 | FFC000
134  GJ135     -5.21327 | FFFF00
135  GJ136     51.27713 | A9D08E

[136 rows x 2 columns]

In [4]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split



# Splitting the dataset into the Training set and Test set
X_train, X_test, y_train, y_test = model.train_test_split(coded_df)

X_train.shape , y_train.shape

((36992, 4), (36992, 10))

In [5]:

model.fit(X_train, X_test, y_train, y_test)

print(f'mse : {model.mse}' )

print(f'accuracy: {model.accuracy}' )
print(f'prefered accuracy: {model.preferred_accuracy}' )

/home/adil/repo/predict_sphere/venv/lib/python3.11/site-packages/keras/src/layers/rnn/rnn.py:204: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

Epoch 1/10
1156/1156 ━━━━━━━━━━━━━━━━━━━━ 15s 10ms/step - accuracy: 0.1939 - loss: 2.4907
Epoch 2/10
1156/1156 ━━━━━━━━━━━━━━━━━━━━ 11s 9ms/step - accuracy: 0.2875 - loss: 1.6167
Epoch 3/10
1156/1156 ━━━━━━━━━━━━━━━━━━━━ 12s 10ms/step - accuracy: 0.2973 - loss: 1.5677
Epoch 4/10
1156/1156 ━━━━━━━━━━━━━━━━━━━━ 11s 9ms/step - accuracy: 0.3010 - loss: 1.5573
Epoch 5/10
1156/1156 ━━━━━━━━━━━━━━━━━━━━ 12s 10ms/step - accuracy: 0.2988 - loss: 1.5509
Epoch 6/10
1156/1156 ━━━━━━━━━━━━━━━━━━━━ 11s 10ms/step - accuracy: 0.2993 - loss: 1.5473
Epoch 7/10
1156/1156 ━━━━━━━━━━━━━━━━━━━━ 12s 10ms/step - accuracy: 0.2956 - loss: 1.5509
Epoch 8/10
1156/1156 ━━━━━━━━━━━━━━━━━━━━ 11s 10ms/step - accuracy: 0.2987 - loss: 1.5444
Epoch 9/10
1156/1156 ━━━━━━━━━━━━━━━━━━━━ 12s 10ms/step - accuracy: 0.3038 - loss: 1.5408
Epoch 10/10
1156/1156 ━━━━━━━━━━━━━━━━━━━━ 12s 10ms/step - accuracy: 0.3022 - loss: 1.5394
289/289 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step
mse : 4.775951557093426
accuracy: 0.29736159169550175
prefered accuracy: 0.0

In [6]:
print(f'mse : {model.mse}' )

print(f'accuracy: {model.accuracy}' )
# print(f'prefered accuracy: {model.preferred_accuracy}' )

mse : 4.775951557093426
accuracy: 0.29736159169550175

In [7]:

df = model.predict()

5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 82ms/step

In [8]:
df[ df['next_color_code'] == 0]

Empty DataFrame
Columns: [NAME, 2024-04-24 00:00:00.1, next_color_code, next_color]
Index: []