In [1]:
# Import the Pandas library

import openpyxl
import io
import tempfile
import pandas as pd
import numpy as np
import sys

sys.path.append('../')

from models.tensorflow_model import TensorFlowModel

model = TensorFlowModel()
path = "../.test_data/more_data.xlsx"

coded_df = model.process_excel(path)


print(coded_df.info())
coded_df

2024-05-01 00:08:11.927606: I external/local_tsl/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-05-01 00:08:11.932693: I external/local_tsl/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-05-01 00:08:12.014190: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-05-01 00:08:13.189188: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42568 entries, 0 to 42567
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   NAME               42568 non-null  object
 1   date               42568 non-null  int64
 2   color_and_value    42568 non-null  object
 3   date_code          42568 non-null  int64
 4   day_of_year        42568 non-null  int64
 5   name_code          42568 non-null  int64
 6   value              42568 non-null  float64
 7   color              42568 non-null  object
 8   color_code         42568 non-null  int64
 9   color_binary       42568 non-null  int64
 10  next_color_binary  42432 non-null  float64
dtypes: float64(2), int64(6), object(3)
memory usage: 3.6+ MB
None

,NAME,date,color_and_value,date_code,day_of_year,name_code,value,color,color_code,color_binary,next_color_binary
0,GJ1,1735257600000000000,28.26107 | A9D08E,0,362,1,28.26107,A9D08E,0,0,0.0
1,GJ2,1735257600000000000,47.95346 | A9D08E,0,362,2,47.95346,A9D08E,0,0,0.0
2,GJ3,1735257600000000000,78.28529 | 9BC2E6,0,362,3,78.28529,9BC2E6,1,0,0.0
3,GJ4,1735257600000000000,47.75716 | A9D08E,0,362,4,47.75716,A9D08E,0,0,0.0
4,GJ5,1735257600000000000,16.25788 | A9D08E,0,362,5,16.25788,A9D08E,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
42563,GJ132,1712016000000000000,20.72867 | 8EA9DB,312,93,132,20.72867,8EA9DB,6,0,NaN
42564,GJ133,1712016000000000000,-4.52074 | FFFF00,312,93,133,-4.52074,FFFF00,3,0,NaN
42565,GJ134,1712016000000000000,-0.69178 | A9D08E,312,93,134,-0.69178,A9D08E,0,0,NaN
42566,GJ135,1712016000000000000,-2.08847 | 8EA9DB,312,93,135,-2.08847,8EA9DB,6,0,NaN
42567,GJ136,1712016000000000000,11.7373 | A9D08E,312,93,136,11.73730,A9D08E,0,0,NaN

In [2]:
model.last_df

      NAME 2024-04-02 00:00:00
0      GJ1    -9.5169 | FFFF00
1      GJ2   -28.6817 | FFFF00
2      GJ3   -13.3021 | FFFF00
3      GJ4   5.804437 | 8EA9DB
4      GJ5   37.11767 | FFFF00
..     ...                 ...
131  GJ132   20.72867 | 8EA9DB
132  GJ133   -4.52074 | FFFF00
133  GJ134   -0.69178 | A9D08E
134  GJ135   -2.08847 | 8EA9DB
135  GJ136    11.7373 | A9D08E

[136 rows x 2 columns]

In [3]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split



# Splitting the dataset into the Training set and Test set
X, y= model.train_test_split(coded_df)

X.shape , y.shape

((42432, 4), (42432,))

In [4]:

model.fit(X, y)

print(f'mse : {model.mse}' )

print(f'accuracy: {model.accuracy}' )
print(f'preferred_accuracy: {model.preferred_accuracy}' )

/home/adil/repo/predict_sphere/venv/lib/python3.11/site-packages/keras/src/layers/rnn/rnn.py:204: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

Epoch 1/3
1326/1326 ━━━━━━━━━━━━━━━━━━━━ 26s 16ms/step - accuracy: 0.6536 - loss: 0.7133
Epoch 2/3
1326/1326 ━━━━━━━━━━━━━━━━━━━━ 18s 14ms/step - accuracy: 0.7421 - loss: 0.5717
Epoch 3/3
1326/1326 ━━━━━━━━━━━━━━━━━━━━ 16s 12ms/step - accuracy: 0.7494 - loss: 0.5586
133/133 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step
mse : 0.25070688030160226
accuracy: 0.7492931196983977

In [7]:
print(f'preferred_accuracy: {model.preferred_accuracy}' )

preferred_accuracy: 0

In [8]:

df =model.predict_last()
df

5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step

      NAME 2024-04-02 00:00:00    color_and_value  next_color_code
0      GJ1    -9.5169 | FFFF00   -9.5169 | FFFF00                0
1      GJ2   -28.6817 | FFFF00  -28.6817 | FFFF00                0
2      GJ3   -13.3021 | FFFF00  -13.3021 | FFFF00                0
3      GJ4   5.804437 | 8EA9DB  5.804437 | 8EA9DB                0
4      GJ5   37.11767 | FFFF00  37.11767 | FFFF00                0
..     ...                 ...                ...              ...
131  GJ132   20.72867 | 8EA9DB  20.72867 | 8EA9DB                0
132  GJ133   -4.52074 | FFFF00  -4.52074 | FFFF00                0
133  GJ134   -0.69178 | A9D08E  -0.69178 | A9D08E                0
134  GJ135   -2.08847 | 8EA9DB  -2.08847 | 8EA9DB                0
135  GJ136    11.7373 | A9D08E   11.7373 | A9D08E                0

[136 rows x 4 columns]

In [9]:

df[(df['next_color_code'] != 0)].shape
df[(df['next_color_code'] != 0)]

Empty DataFrame
Columns: [NAME, 2024-04-02 00:00:00, color_and_value, next_color_code]
Index: []