In [1]:
# Import the Pandas library

import openpyxl
import io
import tempfile
import pandas as pd
import numpy as np
import sys

sys.path.append('../')

from models.tensorflow_model import TensorFlowModel

model = TensorFlowModel()
path = "../.test_data/more_data.xlsx"

coded_df = model.process_excel(path)


print(coded_df.info())
coded_df

2024-04-29 22:42:19.395406: I external/local_tsl/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-04-29 22:42:19.444446: I external/local_tsl/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-04-29 22:42:19.690885: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-04-29 22:42:20.972590: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43248 entries, 0 to 43247
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   NAME             43248 non-null  object
 1   date             43248 non-null  int64
 2   color_and_value  43248 non-null  object
 3   name_code        43248 non-null  int64
 4   value            43248 non-null  float64
 5   color            43248 non-null  object
 6   color_code       43248 non-null  int64
 7   next_color_code  43112 non-null  float64
dtypes: float64(2), int64(3), object(3)
memory usage: 2.6+ MB
None

,NAME,date,color_and_value,name_code,value,color,color_code,next_color_code
0,GJ1,1,19.1379 | FFFF00,1,19.13790,FFFFFF,0,1.0
1,GJ2,1,44.45609 | FFFF00,2,44.45609,FFFFFF,0,1.0
2,GJ3,1,65.52176 | A9D08E,3,65.52176,FFFFFF,0,0.0
3,GJ4,1,28.03879 | FFFF00,4,28.03879,FFFFFF,0,0.0
4,GJ5,1,12.66648 | 9BC2E6,5,12.66648,000000,1,1.0
...,...,...,...,...,...,...,...,...
43243,GJ132,318,-9.67237 | FFFF00,132,-9.67237,FFFFFF,0,NaN
43244,GJ133,318,-6.42931 | 8EA9DB,133,-6.42931,FFFFFF,0,NaN
43245,GJ134,318,-10.5088 | 8EA9DB,134,-10.50880,FFFFFF,0,NaN
43246,GJ135,318,74.42874 | FFC000,135,74.42874,000000,1,NaN
43247,GJ136,318,-0.65639 | A9D08E,136,-0.65639,FFFFFF,0,NaN

In [2]:
model.color_mapping

# D5A6BD purple    ff9900 orange

{0: 'FFFFFF', 1: '000000'}

In [3]:
model.last_df

      NAME 2024-04-10 00:00:00.1
0      GJ1     -17.9175 | FFFF00
1      GJ2     -9.45875 | A9D08E
2      GJ3     -18.2432 | 8EA9DB
3      GJ4     -10.1022 | FFFF00
4      GJ5     -11.3766 | FFFF00
..     ...                   ...
131  GJ132     -9.67237 | FFFF00
132  GJ133     -6.42931 | 8EA9DB
133  GJ134     -10.5088 | 8EA9DB
134  GJ135     74.42874 | FFC000
135  GJ136     -0.65639 | A9D08E

[136 rows x 2 columns]

In [4]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split



# Splitting the dataset into the Training set and Test set
X, y= model.train_test_split(coded_df)

X.shape , y.shape

((43112, 4), (43112,))

In [5]:

model.fit(X, y)

print(f'mse : {model.mse}' )

print(f'accuracy: {model.accuracy}' )
print(f'prefered accuracy: {model.preferred_accuracy}' )

/home/adil/repo/predict_sphere/venv/lib/python3.11/site-packages/keras/src/layers/rnn/rnn.py:204: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

Epoch 1/10
1078/1078 ━━━━━━━━━━━━━━━━━━━━ 18s 12ms/step - accuracy: 0.5686 - loss: 0.8633
Epoch 2/10
1078/1078 ━━━━━━━━━━━━━━━━━━━━ 13s 12ms/step - accuracy: 0.6205 - loss: 0.6524
Epoch 3/10
1078/1078 ━━━━━━━━━━━━━━━━━━━━ 12s 11ms/step - accuracy: 0.6209 - loss: 0.6495
Epoch 4/10
1078/1078 ━━━━━━━━━━━━━━━━━━━━ 11s 10ms/step - accuracy: 0.6240 - loss: 0.6478
Epoch 5/10
1078/1078 ━━━━━━━━━━━━━━━━━━━━ 11s 10ms/step - accuracy: 0.6202 - loss: 0.6485
Epoch 6/10
1078/1078 ━━━━━━━━━━━━━━━━━━━━ 11s 10ms/step - accuracy: 0.6249 - loss: 0.6423
Epoch 7/10
1078/1078 ━━━━━━━━━━━━━━━━━━━━ 12s 11ms/step - accuracy: 0.6250 - loss: 0.6423
Epoch 8/10
1078/1078 ━━━━━━━━━━━━━━━━━━━━ 12s 11ms/step - accuracy: 0.6366 - loss: 0.6386
Epoch 9/10
1078/1078 ━━━━━━━━━━━━━━━━━━━━ 12s 11ms/step - accuracy: 0.6319 - loss: 0.6382
Epoch 10/10
1078/1078 ━━━━━━━━━━━━━━━━━━━━ 20s 10ms/step - accuracy: 0.6282 - loss: 0.6400
270/270 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step
[1]
mse : 0.3519656731995825
accuracy: 0.6480343268004175
prefered accuracy: 0.5689655172413793

In [6]:

df =model.predict_last()
df

5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step

      NAME 2024-04-10 00:00:00.1  next_color_code next_color
0      GJ1     -17.9175 | FFFF00                0     FFFFFF
1      GJ2     -9.45875 | A9D08E                0     FFFFFF
2      GJ3     -18.2432 | 8EA9DB                0     FFFFFF
3      GJ4     -10.1022 | FFFF00                0     FFFFFF
4      GJ5     -11.3766 | FFFF00                0     FFFFFF
..     ...                   ...              ...        ...
131  GJ132     -9.67237 | FFFF00                0     FFFFFF
132  GJ133     -6.42931 | 8EA9DB                0     FFFFFF
133  GJ134     -10.5088 | 8EA9DB                0     FFFFFF
134  GJ135     74.42874 | FFC000                1     000000
135  GJ136     -0.65639 | A9D08E                0     FFFFFF

[136 rows x 4 columns]

In [7]:
df[(df['next_color_code'] == 1)]

      NAME 2024-04-10 00:00:00.1  next_color_code next_color
96    GJ97     160.8006 | 8EA9DB                1     000000
99   GJ100     66.57813 | FFC000                1     000000
112  GJ113     67.68069 | FFC000                1     000000
134  GJ135     74.42874 | FFC000                1     000000