In [1]:
# Import the Pandas library


import sys

sys.path.append('../')

from models.tensorflow_model import TensorFlowModel

model = TensorFlowModel()
path = "../.test_data/more_data.xlsx"

coded_df = model.process_excel(path)


print(coded_df.info())
coded_df

2024-05-04 00:24:43.903714: I external/local_tsl/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-05-04 00:24:43.909272: I external/local_tsl/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-05-04 00:24:43.965237: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-05-04 00:24:44.936589: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42250 entries, 0 to 42249
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   NAME                 42250 non-null  object
 1   date                 42250 non-null  int64
 2   color_and_value      42250 non-null  object
 3   name_code            42250 non-null  int64
 4   day_of_month         42250 non-null  int32
 5   day_of_week          42250 non-null  int32
 6   date_code            42250 non-null  int64
 7   day_of_year          42250 non-null  int64
 8   value                42250 non-null  float64
 9   color                42250 non-null  object
 10  extra                42250 non-null  float64
 11  color_code           42250 non-null  int64
 12  next_color_code      42120 non-null  float64
 13  previous_color_code  42120 non-null  float64
 14  color_binary         42250 non-null  int64
 15  next_color_binary    42120 non-null  float64
dtypes: float64(5), int32(2), int64(6), object(3)
memory usage: 4.8+ MB
None

,NAME,date,color_and_value,name_code,day_of_month,day_of_week,date_code,day_of_year,value,color,extra,color_code,next_color_code,previous_color_code,color_binary,next_color_binary
0,GJ1,1735257600000000000,28.26107 | A9D08E | 214257094.0,1,27,4,0,362,28.26107,A9D08E,214257094.0,0,3.0,NaN,0,0.0
1,GJ2,1735257600000000000,47.95346 | A9D08E | 229631139.0,2,27,4,0,362,47.95346,A9D08E,229631139.0,0,3.0,NaN,0,0.0
2,GJ3,1735257600000000000,78.28529 | 9BC2E6 | 1804911.0,3,27,4,0,362,78.28529,9BC2E6,1804911.0,1,0.0,NaN,1,0.0
3,GJ4,1735257600000000000,47.75716 | A9D08E | 4872234.0,4,27,4,0,362,47.75716,A9D08E,4872234.0,0,3.0,NaN,0,0.0
4,GJ5,1735257600000000000,16.25788 | A9D08E | 226485.0,5,27,4,0,362,16.25788,A9D08E,226485.0,0,1.0,NaN,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42245,GJ132,1713744000000000000,23.49759 | FFC000 | 198809,132,22,0,324,113,23.49759,FFC000,198809.0,2,NaN,2.0,1,NaN
42246,GJ133,1713744000000000000,-11.5507 | FFFF00 | 2635704,133,22,0,324,113,-11.55070,FFFF00,2635704.0,3,NaN,0.0,0,NaN
42247,GJ134,1713744000000000000,22.94613 | A9D08E | 245714,134,22,0,324,113,22.94613,A9D08E,245714.0,0,NaN,6.0,0,NaN
42248,GJ135,1713744000000000000,19.47396 | FFFF00 | 1487447,135,22,0,324,113,19.47396,FFFF00,1487447.0,3,NaN,3.0,0,NaN
42249,GJ136,1713744000000000000,53.24842 | FFC000 | 2471599,136,22,0,324,113,53.24842,FFC000,2471599.0,2,NaN,2.0,1,NaN

In [2]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split



# Splitting the dataset into the Training set and Test set
X, y= model.train_test_split(coded_df)

X.shape , y.shape

((41990, 8), (41990,))

In [3]:

model.fit(X, y)

print(f'mse : {model.mse}' )
print(f'accuracy: {model.accuracy}' )
print(f'preferred_accuracy: {model.preferred_accuracy}' )

print(f'predictions_count: {model.predictions_count}   in {model.y_test_count}' )


prob = coded_df[coded_df['color_binary'] == 1].shape[0] / coded_df.shape[0]

print(f'real prob: {prob}' )

Epoch 1/5

/home/adil/repo/SpherePredictor/venv/lib/python3.11/site-packages/keras/src/layers/reshaping/flatten.py:37: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

1050/1050 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.5473 - loss: 0.6879
Epoch 2/5
1050/1050 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.5588 - loss: 0.6829
Epoch 3/5
1050/1050 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.5604 - loss: 0.6799
Epoch 4/5
1050/1050 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.5596 - loss: 0.6808
Epoch 5/5
1050/1050 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.5597 - loss: 0.6792
263/263 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step
Epoch 1/5
263/263 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.5540 - loss: 0.6809
Epoch 2/5
263/263 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.5567 - loss: 0.6791
Epoch 3/5
263/263 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.5606 - loss: 0.6755
Epoch 4/5
263/263 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.5586 - loss: 0.6804
Epoch 5/5
263/263 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.5674 - loss: 0.6759
mse : 0.4889259347463682
accuracy: 0.5110740652536319
preferred_accuracy: 0.6852617079889807
predictions_count: 1452   in 4644
real prob: 0.5566627218934911

In [4]:

df =model.predict_last()
df

5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

,NAME,2024-04-22 00:00:00,color_and_value,next_color_code
0,GJ1,16.47426 | A9D08E | 362530569,16.47426 | A9D08E | 362530569,0.603197
1,GJ2,14.774 | A9D08E | 164580371,14.774 | A9D08E | 164580371,0.604093
2,GJ3,10.97663 | FFFF00 | 1727317,10.97663 | FFFF00 | 1727317,0.629142
3,GJ4,-0.08408 | FFFF00 | 3899281,-0.08408 | FFFF00 | 3899281,0.629563
4,GJ5,7.631517 | A9D08E | 560178,7.631517 | A9D08E | 560178,0.605564
...,...,...,...,...
125,GJ132,23.49759 | FFC000 | 198809,23.49759 | FFC000 | 198809,0.671008
126,GJ133,-11.5507 | FFFF00 | 2635704,-11.5507 | FFFF00 | 2635704,0.678699
127,GJ134,22.94613 | A9D08E | 245714,22.94613 | A9D08E | 245714,0.614065
128,GJ135,19.47396 | FFFF00 | 1487447,19.47396 | FFFF00 | 1487447,0.679496
129,GJ136,53.24842 | FFC000 | 2471599,53.24842 | FFC000 | 2471599,0.671831

In [6]:
print(df[(df['next_color_code'] != 0)  ].shape)
df[(df['next_color_code'] != 0) ]
df.sort_values(by='next_color_code', ascending=False)

(130, 4)

,NAME,2024-04-22 00:00:00,color_and_value,next_color_code
128,GJ135,19.47396 | FFFF00 | 1487447,19.47396 | FFFF00 | 1487447,0.679496
126,GJ133,-11.5507 | FFFF00 | 2635704,-11.5507 | FFFF00 | 2635704,0.678699
111,GJ117,1.695435 | FFC000 | 722000000,1.695435 | FFC000 | 722000000,0.678089
123,GJ130,28.59592 | FFFF00 | 3556149,28.59592 | FFFF00 | 3556149,0.677609
118,GJ124,22.12033 | 8EA9DB | 208331,22.12033 | 8EA9DB | 208331,0.674172
...,...,...,...,...
8,GJ9,17.34139 | A9D08E | 1242066,17.34139 | A9D08E | 1242066,0.606436
7,GJ8,36.99473 | A9D08E | 1385007,36.99473 | A9D08E | 1385007,0.606263
4,GJ5,7.631517 | A9D08E | 560178,7.631517 | A9D08E | 560178,0.605564
1,GJ2,14.774 | A9D08E | 164580371,14.774 | A9D08E | 164580371,0.604093
0,GJ1,16.47426 | A9D08E | 362530569,16.47426 | A9D08E | 362530569,0.603197